
<div
  class="flex flex-col justify-center items-center bg-gray-100 gap-3 h-screen"
>
  <div class="flex flex-col justify-center items-center pt-32 bg-gray-100">
    <h2
      class="mb-3 text-2xl font-bold tracking-tight text-gray-800 text-center"
    >
      New booking
    </h2>

    <%= render "form", booking: @booking %>

    <br />

    <div class="flex flex-col mt-3 gap-3 justify-center items-center">
      <%= link_to "Back to bookings", property_bookings_path, class: "underline
      underline-offset-4 font-bold" %>
    </div>
  </div>
</div>

